@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
	background-color: #ede7f6;
	font-family: Roboto,Sans-serif;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: auto;
    
}
.admin-btn{
    background: #3c4858;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 30px;
    right: 80px;
}
table, th, td {
    border: 1px solid rgb(12, 12, 12);
    background-color: white;
    border-collapse: collapse;
    margin: 40px auto;
}
td{
    padding: 10px;
}
.heading tr{
    font-size: 18px;
    font-weight: 600;
}
.count-row tr{
    padding-bottom: 10px;
}
.submit-btn{
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-color: #2b91dd;
    padding: 5px 10px;
    border-radius: 5px;

}
@media screen and (max-width:768px) {
    body{
        padding: 0px 10px;
        width: 100%;
    }
    table{
        max-width: 200px;
    }    
    .admin-btn{
        right: 27px;
    }
}


